body {
    background-color: #EAF6F6;
}

hr {
    background-color: white;
    border-style: none;
    height: 2px;
}

img {
    height: 200px;
}

h1 {
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#header1 {
    color: green;
    text-decoration: underline coral solid 3px;
    border-style: dashed;
    
}

h1.hover {
    color: red;
}

